.header {
  padding: 92px 24px 92px 24px;
}

.header_wrapper {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.header__menu {
  display: flex;
  padding: 26px;
}

.header__links-list {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
  color: #000000;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

.header__link:hover {
  cursor: pointer;
}

.header__link_active {
  text-decoration-line: none;
  list-style: none;
}

.header__logo:hover {
  cursor: pointer;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  margin-left: 186px;
}

.address_number {
  color: #000000;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

.address_number:hover {
  cursor: pointer;
}

.address_mail {
  color: #000000;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

.address_mail:hover {
  cursor: pointer;
}

.address_text {
  max-width: 237px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  color: #ffffff;
  background: url("../images/cover.jpg") center no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  column-gap: 10px;
  max-width: 1000px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  z-index: 1;
  line-height: calc(100 / 100 * 100%);
}

.aligned-text_left {
  line-height: 115%;
  text-align: start;
}

.aligned-text_center {
  margin-right: 30px;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.aligned-text_spacing {
  letter-spacing: 0.5em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  margin-top: 135px;
  margin-left: 26px;
}

.cover__description-text {
  z-index: 1;
  color: #ffffff;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  z-index: 1;
  width: 256px;
  height: 51px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0);
}

.bet-button:hover {
  cursor: pointer;
}

.lots {
  margin: 179px 24px 100px 24px;
}

.lots__heading {
  margin-left: 40px;
  color: #000000;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;

  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
  list-style-type: none;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 563px;
}

.card-link {
  position: relative;
  display: block;
  height: 100%;
  text-decoration: none;
}

.card-link:hover {
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 254px;
  margin: 51px 40px 0px 40px;
  color: #ffffff;

  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 254px;
  margin: 0px 40px 48px 40px;
  color: #ffffff;

  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_type_film {
  gap: 0px;
  width: 334px;
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  gap: 0px;
  width: 334px;
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  gap: 0px;
  width: 334px;
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  color: #000000;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.lots__look-more-link:hover {
  cursor: pointer;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  margin: 179px 24px 0px 24px;
  grid-gap: 25px;
}

.about__column {
  display: grid;
  justify-content: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #000000;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-wrap: wrap;
  color: #000000;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__column p:last-child {
  padding-top: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin: 183px 50px 88px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.footer__menu-list {
  text-align: center;
}

.footer__menu-link {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

.footer__menu-link:hover {
  cursor: pointer;
}

.footer__menu-link_active {
  text-decoration-line: none;
}

.footer__menu-list-item {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  margin-left: 185px;
  list-style-type: none;
}

.footer__social-link:hover {
  cursor: pointer;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  border: 1px 0px 0px 0px;
}
